/* Push content down below navbar */
.main-content {
  margin-top: 80px;
}

/* Make space for fixed footer */
body {
  padding-bottom: 80px;
}

/* Fixed footer at bottom */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  z-index: 9999;
}
